.bg12 {
  background: linear-gradient(135deg, #b09ef3 20%, #d1aa9b);
}

.app-page {
  .nav {
    position: fixed;
    top: 54%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    /* .circle {
      width: 60px;
      height: 60px;

      border-radius: 100%;
      transition: all ease 0.5s;
      cursor: pointer;

      .link {
        color: #fff;
        font-size: 14px;
      }

      &:active,
      &:hover {
        opacity: 0.7;
        color: #f6f6f6;
        background-color: rgba(70, 59, 59, 0.3);
      }
    } */
  }
}
