@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply flex items-center justify-center;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'PingFangSC-Regular', 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Tahoma, Arial, 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
  user-select: none;
}
